
<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
        <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">&copy; 2021</small>
        </div>
        <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Lorem</a></li>
            <li><a class="text-muted" href="#">Ipsum</a></li>
            <li><a class="text-muted" href="#">Dolor</a></li>
            <li><a class="text-muted" href="#">Sit</a></li>
            <li><a class="text-muted" href="#">Amet</a></li>
            <li><a class="text-muted" href="#">Consectetur</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Adipiscing</a></li>
            <li><a class="text-muted" href="#">Elit</a></li>
            <li><a class="text-muted" href="#">Donec</a></li>
            <li><a class="text-muted" href="#">Sagittis</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="/privacy">Privacy</a></li>
            </ul>
        </div>
        </div>
    </footer>
</div>
