<%- include('partials/head'); %>
<%- include('partials/nav'); %>

<div class="container">
    <h1>
        <%= `${user.name}, here is your Shopping Cart` %> 
    </h1>

    <div class="container">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-horizontal" style="display: flex; flex: 1 1 auto;">
                        
                        <div class="img-square-wrapper">
                            <img class="" src="http://via.placeholder.com/300x180" alt="Card image cap">
                        </div>

                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <button class="btn btn-danger">Remove</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-horizontal" style="display: flex; flex: 1 1 auto;">
                        <div class="img-square-wrapper">
                            <img class="" src="http://via.placeholder.com/300x180" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>