<%- include('partials/head'); %>
<%- include('partials/nav'); %>
<script type="text/javascript" src="/js/editController.js"></script>
<div class="container">
   <h1> Edit Products </h1>

    <form>

      <div class="py-2 pb-5">
         <select id="productselection" class="form-select pr-5">
            <option selected>Select a product to modify</option>
            <% if (products) { %> 
               <% for(var i=0; i < products.length; i++) { %>
                  <option value=<%= products[i]._id %>> <%= products[i].name %></option>
                  <% } %>
            <% } %>
         </select>
      </div>

      <div id="pageMessage"> </div>

      <!-- Product Name -->
      <div class="form-group">
        <label for="productName">Product name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Change product name">
      </div>

      <div class="form-group" id='currentImage'></div>

      <!-- Product Image -->
      <div class="form-group">
         <label for="customFile">Choose New Image (Optional)</label>
         <input type="file" accept="image/jpeg, image/png" class="form-control-file" id="productImage" name="productImage">
       </div>

      <!-- Product Description -->
      <div class="form-group">
        <label for="productDescription">Description</label>
        <input type="text" class="form-control" id="desc" name="desc"  placeholder="Change product description">
      </div>

      <!-- Product Price -->
      <div class="form-group">
          <label for="productPrice">Price ($)</label>
          <input type=number step=any class="form-control" id="price" name="price" placeholder="Change product price, e.g. 3.50">
      </div>

      
        
   </form>
      <div class='form-group'>

         <!-- Add product button -->
         <div class="text-center d-flex justify-content-center">
            <div class="py-2">
               <button id="delete" class="btn btn-danger">Delete</button>
               <button id="update" class="btn btn-primary">Update</button>
             </div>
         </div>

      </div>
</div>
</body>
</html>