<%- include('partials/head'); %>
<%- include('partials/nav'); %>
    <div class="container">
        <h1>
            <% if (user) { %> 
                <%= `Welcome ${user.name} | Index Page` %> 
            <% } else { %>
                Index Page
            <% } %>
        </h1>

        <h1>
            <% if (products) { %> 
                <%= `This is a ${products[0].name}` %> 
                <% } else { %>
                    Not working
                <% } %>
        </h1>
        
        
    </div>
</body>
</html>