<!DOCTYPE html>
<html>
    <head>
        <title>Index Page</title>
    </head>
    <body>
        <h1>Index Page</h1>
        <a href="auth/login">Login</a>
        <a href="auth/register">Register</a>
    </body>
</html>