<%- include('partials/head'); %>
    <div class="container-md py-5">

        <div class="row justify-content-center align-content-center">

            <div class="col-5">

                <h1>Sign in</h1>
                <% if (error) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>

                <!-- Form starts here, will need to change the action -->
                <form action="./login" method="POST">
                    <div class="form-group">
                      <label for="loginEmail">Email address</label>
                      <input type="email" class="form-control" id="loginEmail" name="email" aria-describedby="emailHelp" placeholder="Enter email">
        
                    </div>
                    <div class="form-group">
                      <label for="loginPassword">Password</label>
                      <input type="password" class="form-control" id="loginPassword" name="password" placeholder="Password">
                    </div>

                    <div class="text-center">
                        <!-- Sign in -->
                        <div class="w-100 py-2">
                          <button type="submit" class="btn btn-primary">Sign in</button>
                        </div>
                    </div>

                </form>
                <div class="text-center">

                    <!-- Sign up with Google -->
                    <div class="w-100 py-2">
                        <button type="submit" class="btn btn-primary">Sign in with Google</button>
                    </div>
                  
                    <!-- Register normally -->
                    <div class="w-100 py-2">
                        Or
                    </div>
                    <div class="w-100">
                        <a class="text-muted" href="./register">Create New Account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>