<%- include('partials/head'); %>
<%- include('partials/nav'); %>
    <div class="container-md">
      <!--Had to add style property as for some reason setting the bootstrap height to 100vh did not centre the content into the middle of the page.-->
      <div class="row justify-content-center align-content-center" style="height: 100vh;">
        <div class="col-5" id="register">
          <h3 >Sign up</h3>

          <% if (error) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
          <% } %>

          <form class="w-100" action="./register" method="POST">
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Enter your name"
                name="name"
              />
            </div>
            
            <div class="form-group w-100">
              <label for="emailaddress">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Enter your email"
                name="email"
              />
            </div>

            <div class="form-group">
              <label for="Password" id="password-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                aria-describedby="emailHelp"
                placeholder="Enter password"
                name="password"
              />
            </div>

            <div class="form-group" id = "confirm-password" >
              <label for="exampleInputEmail1" id="confirm-password-label" >Confirm Password</label>
              <input
                type="password"
                class="form-control"
                id="password-repeat"
                placeholder="Retype password"
              />
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary" id="registerbtn">
                Register
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>
<script type="text/javascript" src="/js/passwordChecker.js" async></script>
    <%- include('partials/footer'); %>
  </body>
</html>
