.leftside, .rightside{
 height: 50vh;
 width: 100%;
}

@media screen and (min-width:768px) {

 .leftside, .rightside{
  height: 100vh;
 }
 
 
}
.test{
 height: 100vh;

 /* background-color: aqua; */
}
